<main>
  <div class='container'>
    <div class='row'>
      <h1 class="px-3 mx-auto">
        <i class="fas fa-film"></i>
        <strong>MovieTime</strong>へようこそ！
      </h1>
    </div>
  </div>
</main>