<main>
  <div class='container'>
    <div class='row'>
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <h1>
          <i class="fas fa-film"></i>
          <strong>MovieTime</strong>へようこそ！
        </h1>
        <p>ここは映画のレビューサイトです。ログインまたは登録する必要があります。</p>
        <p>利用する際はデスクトップPCを推奨します。</p>
      </div>
    </div>
  </div>
</main>