<main>
  <div class="container">
    <div class="row">
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <h1>
          <i class="fas fa-film"></i>
          <strong>MovieTime</strong>へようこそ！
        </h1>
        <p>In 
          <i class="fas fa-film"></i>
          <strong>MovieTime</strong>,
        </p>
        <p>ここでは映画のレビューを投稿したり、様々なジャンルの映画のレビューを見ることができます。</p>
        <p>より良い映画ライフにしましょう!</p>
        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">ログイン</a>
          </div>
          <div class="row">
            <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">登録</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>